@charset "UTF-8";

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf) format(truetype);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}

.slick-prev-custom,
.slick-next-custom {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    width: 35px;
    height: 35px;
}

.slick-prev-custom:hover,
.slick-next-custom:hover {
    background: #098752;
}

.slick-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.slick-dots li {
    list-style: none;
}

.slick-dots li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #f8f9fb;
    border-radius: 50%;
    border: none;
}

.slick-dots li.slick-active button {
    background-color: #e4e4e4;
}

/* CSS */
.btn-custom {
    margin: 10px;
    padding: 5px 10px;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-custom:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.btn-custom:active {
    transform: scale(0.95);
}