@charset "UTF-8";

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf) format(truetype);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}

.slick-prev-custom,
.slick-next-custom {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    width: 35px;
    height: 35px;
}

.slick-prev-custom:hover,
.slick-next-custom:hover {
    background: #098752;
}

.slick-dots {
    position: absolute;
    bottom: 10px;
    padding-left: 1.25rem;
    /* left: 50%;
    transform: translateX(-50%); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.slick-dots li {
    list-style: none;
}

.slick-dots li button {
    font-size: 0;
    width: 30px;
    height: 5px;
    background-color: #f8f9fb;
    border-radius: 20px;
    border: none;
}

.slick-dots li.slick-active button {
    background-color: #f2722b;
}

/* CSS */
.btn-custom {
    margin: 10px;
    padding: 5px 10px;
    text-align: center;
    text-wrap: none;
    text-transform: none;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-custom:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.btn-custom:active {
    transform: scale(0.95);
}

.logout_modal {
    position: fixed;
    z-index: 99999999;
    top: 0;
    right: 0;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout_modal_overlay {
    background-color: black;
    opacity: .8;
    height: 100%;
    width: 100%;
}

.logout_modal_content {
    position: absolute;
}

.hidden {
    display: none;
}

.page_header_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.page_header_bottom_left_input {
    position: relative;
    width: 350px;
}

.page_header_bottom_left_input .form-control {
    padding: 0.6rem 1rem;
}

.page_header_bottom_left_input .btn {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 16px;
    color: #b4bdce;
    transform: translateY(-50%);
}

@media (max-width:768px) {
    .page_header_bottom {
        display: block;
    }

    .page_header_bottom_left_input {
        width: 100%;
        margin-bottom: 20px;
    }
}

.users-form {
    width: 350px;
}

.table-btn {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
}

.w-full {
    width: 100%;
}

.if-image {
    display: flex;
    justify-content: center;
}

.form-image-container {
    max-height: 200px;
    max-width: 300px;
    width: 100%;
    overflow: hidden;
}

.form-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-image-top {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.card-image-top img,
.partner-image-circle img,
.object-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.partner-image-circle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
}

.edit-partner-image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
}

.category-option {
    display: none;
}

.side-menu__item .active .side-menu__label{
    color: #f2722b;
}

.image-circle {
    height: 80px;
    width: 80px;
    overflow: hidden;
    border-radius: 100%;
}

.image-circle img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.site-container{
    @apply container mx-auto px-[.5rem] md:px-[0px] lg:px-[3rem];
}

.privacy{
    font-size: 16px;
    margin-top: 40px;
    line-height: 40px;
}

.privacy h1, 
.privacy h2{
    font-weight: bold;
    font-size: 18px;
}
